@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
  display: none !important;
}

button,
[role="button"],
label[for] {
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
}
